/* Injected CSS Code */
body{
  font-family: "DIN Next", sans-serif !important;
}
.file-types {
  color: #464d5f;
  font-size: .70em;
  width: 100%;
}
.form-all li {
    list-style-type: none;
}
.uploadContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-label.form-label-auto {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'DIN NEXT';
    font-size: 15px;
    font-weight: 700;
    line-height: 19.14px;
    text-align: left;
    color: #000;
    margin-bottom: 7px;
  }

  .form-label.form-label-auto sub {
    color: #EC40A4;
    vertical-align: top;
    font-weight: 700;
    font-size: 18px;
  }

  .step_form_inner .form-input-wide {
    width: 100% !important;
    margin-bottom: 0;
    position: relative;
  }

  .step_form_inner .form-section h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    color: #000;
    margin-bottom: 6px;
    max-width: 100%;
  }
  .step_form_inner .form-section.step-2 h2{
    margin-bottom: 5px;
  }

  #cid_3 .jfUpload-wrapper, #cid_13 .jfUpload-wrapper {
    background-color: transparent;
    color: #000;
    border: 1px dashed #7853f7;
    height: 180px;
    font-family: 'DIN NEXT';
    font-size: 16px;
    font-weight: 700;
    line-height: 20.42px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 8px;
  }
  #cid_13 .jfUpload-wrapper {
    height: 160px;

  }
  .jfUpload-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.jfUpload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
  .jfUpload-button-container, .jfUpload-button {
    height: 100%;
}
.jfUpload-heading {
  width: 100%;
  font-weight: 100;
}
  .step_form_inner ul.page-section li#cid_11 {
    margin-top: 8px;
  }

  .step_form_inner .inputContainer {
    height: 155px;
  }

.qq-upload-button:before {
    display: none;
  }

  .jfUpload-button span {
    color: #EC40A4;
  }

  .jfUpload-button p {
    max-width: 230px;
  }
  .jf-form-buttons:not(.form-pagebreak-back){
    margin-left: 0 !important;
  }
  .skip-text {
    cursor: pointer;
    color: #7853f7;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}
/* ul.form-section.page-section.step-5 {
  height: 85vh;
  align-items: flex-end;
} */
  .step_form_inner .form-pagebreak {
    margin: 0;
    padding: 0;
    border-top: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }

  .step_form_inner .form-pagebreak-next {
  border-color: unset !important;
  color: #ffffff;
  white-space: nowrap;
  background: #ff13a7;
  text-decoration: none;
  position: relative;
  padding: 5px 30px !important;
  line-height: 48px;
  border-radius: 30px !important;
  text-align: center;
  font-weight: var(--text-font-bolder-weight);
  font-size: 16px;
  cursor: pointer;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  width: 100%;
  }
  .step_form_inner .form-pagebreak-next:hover{background-color: #EC40A4 !important;}

  .step_form_inner .form-pagebreak-next-container {
    width: 100%;
  }
  .step_form_inner .form-input-wide input[type="text"], .step_form_inner .form-input-wide input[type="email"], .step_form_inner .form-input-wide input[type="tel"] {
    font-family: 'DIN NEXT' !important;
    font-size: 15px !important;
    font-weight: 400;
    line-height: 19.14px;
    color: #656565;
    border-radius: 8px !important;
    border: 0 !important;
    padding: 16px;
    min-height: 42px;
    width: 100%;
    height: 2.5em;
  }
  .step_form_inner ul.page-section .title_box{margin-bottom: 15px;}
  .swap_sec .step_form_inner li[data-type=control_fileupload] .qq-upload-button{border: 1px dashed #715AEF !important;}
  .step_form_inner .form-input-wide li{
    display: flex;
    align-items: center;
    list-style: none;
    font-family: DIN NEXT;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.14px;
    text-align: left;
    color: #656565;
  }
  .term-condition,.term-condition-new {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #656565;
    font-size: 12px;
}
p.delete-element, .bg-delete-element {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3 3.775v.196l-.001 10.342c0 .972-.677 1.684-1.604 1.685-2.048.003-4.097.003-6.145 0-.927 0-1.602-.713-1.603-1.686V3.775h9.352zm-7.004 2.44v7.337h1.325c.208 0 .221 0 .222-.198V6.452c0-.043.013-.092-.004-.125-.02-.044-.064-.106-.099-.107-.477-.007-.954-.004-1.444-.004zm4.654 0H6.628c-.21 0-.224 0-.225.195v7.13H7.95V6.215zM0 2.797V.938h.215c.942 0 1.883.004 2.825-.006a.428.428 0 00.277-.131c.208-.217.395-.462.6-.682A.354.354 0 014.15.006c.983-.008 1.967-.008 2.95 0 .078 0 .172.05.231.113.206.22.392.465.6.682.071.074.184.13.278.131.936.01 1.872.006 2.807.006h.228v1.859H0z' fill='%2357647E'/%3E%3C/svg%3E");
  width: 32px;
  border-radius: 4px;
  background-size: 12px;
  background-position: 50%;
  background-repeat: no-repeat;
  color: transparent;
  cursor: pointer;
  background-color: #dce5f6;
  height: 32px;
}
  .step_form_inner ul.page-section li#cid_11{margin: 0 !important;}
  .step_form_inner .form-input-wide{margin: 5 !important;}
  button#form-pagebreak-next_12{margin-top: 24px !important;    position: relative;}
  .step_form_inner .form-input-wide li::before{
    content: url('data:image/svg+xml;charset=UTF-8,<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask5" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="21"><rect y="0.862305" width="20" height="20" fill="%23D9D9D9"/></mask><g mask="url(%23mask5)"><path d="M8.33333 14.5291L5 11.1958L6.16667 10.0291L8.33333 12.1958L13.8333 6.6958L15 7.86247L8.33333 14.5291Z" fill="%232CB118"/></g></svg>');
    margin-right: 8px;
  }
  button#form-pagebreak-next_12:disabled {
    opacity: .5;
  }
  .step_form_inner .form-line-active {
    background-color: transparent;
  }
  .client-review {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.star-svg {
  display: flex;
}
  .step_form_inner .swap_sec .form-line-active {
    background-color: #F7F5FF;
  }

  .swap_sec .video_part {
    order: 2;
  }

  .swap_sec .form_part {
    order: 1;
  }
  .swap_sec .video_part .video_potion {
    display: none;
  }
  .jfUpload-heading {
    color: #7853f7 !important;
    font-size: 13px !important;
  }
  .jfUpload-heading.color{
    color: red !important;
  }
.jfUpload-wrapper.drag-over {
    background: white !important;
}
  li#cid_14 {
    margin-top: 6px !important;
    border-radius: 5px;
    padding-top: 2px !important;
}
a.custom-button.button.button--primary.requid-btn {
  display: none;
}
  div#cid_3 {
    cursor: pointer;
  }
  div#cid_13 {
    padding-bottom: 10px;
}
  #cid_13 .form-pagebreak {
    margin-top: 5px;
}
.drag-over {
    background-color: #ffff;
}
li#file-preview {
  width: 100%;
}
button#form-pagebreak-next_11:disabled {
    opacity: .5;
    pointer-events: none;
}
button#form-pagebreak-next_14:disabled {
    opacity: .5;
    pointer-events: none;
}
.image-with-title {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.file-preview-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #656565;
  font-family: DIN NEXT;
  font-size: 14px;
  font-weight: 500;
  background: #dae6ff;
  padding: 7px;
  width: 100%;
  margin-bottom: 15px;
}
  .swap_sec .video_part .timer_box {
    background-color: #FFEBF7;
    border-radius: 8px;
    height: auto;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
  .swap_sec .video_part .timer_box.no-video {
    height: 100%;
  }
  .swap_sec .video_part .timer_box:before {
    content: "" !important;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFEBF7;
    width: 100%;
    height: 90vh;
    z-index: -1;
  }

  .swap_sec .tab-status {
    display: none !important;
  }

  body .step_form_row.swap_sec {
    grid-template-columns: min(550px, min(50%, 100%)) 1fr;
  }

  body .swap_sec .form_part .form_inner {
    background-color: transparent !important;
    padding: 0 !important;
  }

  .title_box p {
    font-family: "DIN NEXT";
    font-size: 15px;
    font-weight: 400;
    line-height: 19.14px;
    text-align: left;
    color: #000;
  }
  .form-dropdown select option{
    color: #000;
  }
  .box_inner {
    background-color: #F7F5FF;
    border-radius: 8px;
    padding: 30px 24px 20px;
  }
  div#cid_13 .jfUpload-wrapper {
    margin-top: 10px;
  }
  .box_inner h3 {
    font-family: 'DIN NEXT';
    font-size: 18px;
    font-weight: 700;
    line-height: 22.97px;
    margin-bottom: 16px;
  }

  .box_inner .icon_list {
    padding: 0;
    margin: 0 0 24px;
  }

  .box_inner .icon_list li {
    list-style: none;
    position: relative;
    padding-left: 24px;
    margin-bottom: 8px !important;
    font-family: 'DIN NEXT';
    font-size: 15px;
    font-weight: 400;
    color: #656565;
    line-height: 19.14px;
  }

  .box_inner .icon_list li:before {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0716/0542/0325/files/check_small_5913dd75-af57-4908-8800-a018562c6e83.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
  }

  .swap_sec .arrive_text {
    display: none;
  }

  .swap_sec .bg-1 {
    background-color: #F7F5FF;
    margin-top: 0 !important;
    padding: 10px 24px !important;
  }

  .swap_sec .outer_text {
    background-color: #F7F5FF;
    margin-top: 0;
    padding: 16px 24px 36px;
    border-radius: 0 0 8px 8px;
  }
  #form-pagebreak-next_12 span.loading-dots.show{
    display: block !important;
    position: absolute;
    top: 15%;
    left: 90%;
    transform: translateX(-15%);
  }
  body .step-3 .box_inner {

    padding: 10px 0 0 0 !important;
    border-radius: 8px;
    margin: 0 !important;
  }

  .right_image_bg .outer_text {
    display: none;
  }

  .mt-0 {
    margin-top: 0 !important;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }

  .radio_box .form-label-title {
    font-family: 'DIN NEXT';
    font-size: 18px;
    font-weight: 700;
    line-height: 22.97px;
    text-align: left;
    margin-bottom: 8px;
    color: black;
  }

  /* .radio_box .form-radio-item {
    margin: 16px 0 0 !important;
  } */

  .radio_box .form-radio-item label {
    color: #ffffff;
    white-space: nowrap;
    background: #ff13a7;
    text-decoration: none;
    position: relative;
    display: flex;
    padding: 0 30px !important;
    line-height: 48px;
    border-radius: 30px !important;
    text-align: center;
    font-weight: var(--text-font-bolder-weight);
    font-size: 16px;
    cursor: pointer;
    transition: background .25s ease-in-out, color .25s ease-in-out, box-shadow .25s ease-in-out;
    justify-content: center;
    align-items: center;
  }

  .radio_box .form-radio-item label::before,
  .radio_box .form-radio-item label::after {
    opacity: 0;
  }

  .radio_box .form-multiple-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  .radio_box .form-multiple-column .form-radio-item {
    width: calc(50% - 4px) !important;
    margin: 0 !important;
  }
.form-multiple-column .form-radio-item{
  display: flex;
    align-items: center;
    gap: 5px;
}
.form-multiple-column .form-radio-item input[type=radio]{
  height: 18px;
  width: 18px;
}
  .swap_sec.right_image_bg .video_part .timer_box:before {
    opacity: 0.4;
    background-color: #fff;
  }

  .right_image_bg .timer_box>div {
    background-color: #F7F5FF;
    border-radius: 8px;
    padding: 24px;
    max-width: 420px;
    width: 100%;
  }

  .right_image_bg .timer_box .box_head {
    margin: 0;
  }

  .right_image_bg .timer_box a {
    display: flex;
  }

  .timer_box a {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    align-items: center;
    gap: 5px;
    font-family: 'DIN NEXT';
    font-size: 13px;
    font-weight: 400;
    line-height: 16.59px;
    text-align: left;
    color: #FF1D1F;
  }

  .last-step .user_info {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 16px;
  }

  .last-step .user_info img {
    width: 45px;
    height: auto;
  }

  .last-step .form-buttons-center {
    background-color: #f7f5ff;
    padding: 0 24px 36px;
    border-radius: 0 0 8px 8px;
  }
  body .step_form_inner .borderissue {
    border: 1px solid red !important;
}
  .last-step #input_10 {
    background-color: #715AEF;
    border: 0;
    color: #fff;
    border-radius: 50px;
    font-family: 'DIN NEXT';
    font-size: 15px;
    font-weight: 400;
    line-height: 19.14px;
    width: 100%;
    height: 42px;
    margin: 0;
  }

  /* body .last-step .box_inner {
    margin-top: 284px !important;
  } */

  div#cid_10 {
    margin: 0;
  }

  .last-step textarea {
    border: 0;
    height: 76px;
    border-radius: 8px;
    padding: 10px 20px;
    font-family: 'DIN NEXT';
    font-size: 14px;
    font-weight: 400;
    line-height: 17.86px;
    color: #656565;
  }

  .radio_box .form-radio-item label:hover {
    background-color: #715AEF;
  }

  .last-step textarea::placeholder,
  textarea::placeholder {
    padding-right: 58%;
  }

  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  .custom_steps_form {
    padding: 15px 0 60px;
  }
  .slick-slider{margin-bottom: 0 !important;}
  .request_qu {
    margin-bottom: 20px;
  }
  .request_qu.swap_sec2{display: none;}
  .request_qu .heading_top {
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    font-family: 'DIN Next';
    color: #000;
    margin-bottom: 10px;
  }

  .title-form-step{
    margin-bottom: 15px;
    }
    .title-form-step ul {
      display: flex;
      list-style: none;
    }
  
    .title-form-step ul li {
      font-size: 14px;
      line-height: 18px;
      font-family: 'DIN Next';
      font-weight: 400;
      color: #656565;
      position: relative;
      padding-left: 19px;
    }
  
    .title-form-step ul li:after {
      content: url('data:image/svg+xml;charset=UTF-8,<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask5" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="21"><rect y="0.862305" width="20" height="20" fill="%23D9D9D9"/></mask><g mask="url(%23mask5)"><path d="M8.33333 14.5291L5 11.1958L6.16667 10.0291L8.33333 12.1958L13.8333 6.6958L15 7.86247L8.33333 14.5291Z" fill="%232CB118"/></g></svg>');
      position: absolute;
      left: 0;
      top: 0;
      /* background-image: url(https://cdn.shopify.com/s/files/1/0716/0542/0325/files/check_small_f9883555-4055-4a96-9008-c29d1552ee1c.png?v=1727518005); */
      background-repeat: no-repeat;
      background-size: 11px;
      width: 20px;
      height: 20px;
      background-position: center center;
    }
  
    .title-form-step ul li:not(:last-child) {
      margin-right: 16px;
    }
  
  .iti.iti--allow-dropdown {
    width: 100%;
}
.iti--separate-dial-code .iti__selected-flag{
  background: transparent !important;
}
input#input_6_full {
  padding-left: 50px;
}

  .file-required, .bg-file-required {
    color: red;
    font-size: 11px;
    opacity: 0;
}
.file-required.show, .bg-file-required.show {
  opacity: 1;
}
.required-field, .email-error, .phone-error{
font-size: 11px;
color: red;
float: right;
display: none;
}
.required-field.show, .email-error.show, .phone-error.show{
  display: block;
}
  /** video portion css **/
  .video_part video {
    height: 570px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
  }

  /** video portion css **/
  .video_part .second_form {
    display: none;
    text-align: center;
    font-size: 30px;
  }

  /** first step form css **/
  .step_form_inner .step_form_row {
    display: grid;
    grid-template-columns: 1fr min(600px, min(50%, 100%));
    gap: 24px;
  }

  .step_form_inner .form-all {
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    max-width: 100%;
    margin: 0;
  }

  .step_form_inner ul.page-section {
    padding: 0;
  }

  .step_form_inner .form-line {
    margin: 16px 0 0 0 !important;
    padding: 0;
  }
  .step_form_inner #id_13 {
    margin: 0 !important;
  }
  .step_form_inner .step_form_row .form_part .form-input::placeholder {
    color: #cbd5e1;
  }

  .step_form_inner .step_form_row .form_part .form-input:focus {
    outline: none;
  }

  .step_form_inner .step_form_row .form_part .form_inner {
    background: #FFEBF7;
    padding: 20px 36px;
    border-radius: 8px;
  }

  .step_form_inner .step_form_row .form_part .btn {
    border: 0;
    background: var(--color-1);
    padding: 1rem;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    width: 100%;
  }

  /* .step_form_inner .step_form_row .form_part .btn[disabled] {
opacity: .5;
pointer-events: none;
} */

  .step_form_inner .step_form_row .form_part .btn:hover {
    background: #7853f7;
    transition: ease-in-out .3s all;
  }

  .step_form_inner .step_form_row .form_part .btn-submit:hover {
    background-color: #7853f7;
  }

  .step_form_inner .step_form_row .form_part .pagination {
    margin-top: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
  }

  .step_form_inner .step_form_row .form_part .btn {
    border: 0;
    background: #EC40A4;
    padding: 13px 20px;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-family: 'DIN Next';
    font-weight: 400;
    text-align: center;
  }

  .step_form_inner .step_form_row .form_part .tab-status {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .step_form_inner .step_form_row .form_part .tab-status span {
    appearance: none;
    border: none;
    border-radius: 0;
    margin-right: 00;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #A41B6B;
    font-family: 'DIN Next';
    padding-bottom: 10px;
    cursor: pointer;
  }

  .step_form_inner .step_form_row .form_part .tab-status span .tab_name {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #656565;
  }

  .step_form_inner .step_form_row .form_part .tab-status span.active {
    border-color: #715AEF;
  }

  .step_form_inner .step_form_row .form_part .tab-status:has(span.active:nth-child(2)) .tab_name {
    color: #A41B6B;
  }

  .custom_steps_form.swap_sec_padding{padding-top: 20px !important;padding-bottom: 30px;}
  .custom_steps_form .step_form_inner .step_form_row .form_part .tab-status span.active .tab_name {
    color: #715AEF;
    font-weight: 700;
  }

  .step_form_inner .step_form_row .tabpanel h3 {
    font-size: 28px;
    line-height: 35px;
    font-family: 'DIN Next';
    color: #000;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .step_form_inner .step_form_row .custom-file-upload {
    height: 190px;
    display: grid;
    place-content: center;
    border: 2px dashed #A41B6B;
    border-radius: 8px;
    margin-bottom: 24px;
    cursor: pointer;
  }

  .step_form_inner .step_form_row .custom-file-upload>div {
    width: 100%;
    max-width: 258px;
    margin: 0 auto;
    text-align: center;
  }

  .step_form_inner .step_form_row .custom-file-upload .upload_title {
    font-size: 16px;
    line-height: 20px;
    font-family: 'DIN Next';
    font-weight: 700;
    margin-bottom: 16px;
  }

  .step_form_inner .step_form_row .custom-file-upload .upload_title span {
    color: #EC40A4;
  }

  .step_form_inner .step_form_row .custom-file-upload .upload_subtitle {
    font-size: 13px;
    line-height: 16px;
    color: #A41B6B;
  }

  .step_form_inner .step_form_row .custom-file-upload .upload_subtitle span {
    text-decoration: underline;
  }

  .step_form_inner .step_form_row .form_part .hidden,
  .step_form_inner .step_form_row .form_part input[type="file"] {
    display: none;
  }

  .step_form_inner .step_form_row .form_part .field_box label {
    display: block;
    font-size: 15px;
    line-height: 19px;
    color: #000;
    font-family: 'DIN Next';
    font-weight: 700;
    margin-bottom: 2px;
  }

  .step_form_inner .step_form_row .form_part .field_box input {
    width: 100%;
    height: 42px;
    border-radius: 8px;
    padding-inline: 16px;
    font-size: 15px;
    color: #000;
    font-weight: 500;
    font-family: 'DIN Next';
  }

  .step_form_inner .step_form_row .form_part .field_box:not(:last-child) {
    margin-bottom: 16px;
  }

  .step_form_inner .step_form_row .form_part .field_box input::placeholder {
    font-size: 15px;
    font-weight: 400;
    color: #656565;
  }

  .arrive_text {
    font-size: 13px;
    text-align: center;
    line-height: 17px;
    font-family: 'DIN Next';
    color: #715AEF;
    background: #F7F5FF;
    padding: 10px 22%;
    border-radius: 8px;
    margin-top: 8px;
  }

  .outer_text {
    text-align: center;
    font-size: 13px;
    line-height: 17px;
    color: #656565;
    font-family: 'DIN Next';
    font-weight: 400;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .timer_box {
    text-align: center;
    display: none;
  }

  .timer_box .box_head {
    font-family: 'DIN Next';
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
  }

  .timer_box .time {
    font-size: 34px;
    line-height: 43px;
    font-family: 'DIN Next';
    font-weight: 700;
    color: #EC40A4;
  }

  /** first step form css **/
  /** second form step css **/
  .second_form_inner .heading_part {
    margin-bottom: 36px;
  }

  #sec_form {
    background: #F7F5FF;
    padding: 24px;
    border-radius: 8px;
  }

  .second_form_inner h2 {
    font-size: 34px;
    line-height: 43px;
    font-family: 'DIN Next';
    font-weight: 700;
    margin-bottom: 24px;
    text-align: left;
  }

  .second_form_inner p {
    font-size: 15px;
    line-height: 19px;
    font-family: 'DIN Next';
    font-weight: 400;
    color: #656565;
    text-align: left;
  }

  .second_form_inner .form_group h4 {
    font-size: 18px;
    line-height: 22px;
    font-family: 'DIN Next';
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
  }

  .second_form_inner .form_group ul {
    list-style: none;
    margin-bottom: 24px;
  }

  .second_form_inner .form_group ul li {
    font-size: 15px;
    line-height: 19px;
    font-family: 'DIN Next';
    font-weight: 400;
    text-align: left;
    color: #656565;
    margin-bottom: 8px;
    padding-left: 24px;
    position: relative;
  }

  .second_form_inner .form_group ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url(https://cdn.shopify.com/s/files/1/0716/0542/0325/files/purple_check_small_14a25479-01a0-4f3a-ac6f-a25865156787.png?v=1727708875);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center center;
  }

  .second_form_inner .file_group {
    border: 2px dashed #715AEF;
    border-radius: 8px;
    padding: 41px 20px;
  }

  .second_form_inner .file_group .file_wrap {
    width: 100%;
    max-width: 324px;
    margin: auto;
    display: grid;
  }

  .second_form_inner .file_group .file_wrap .file_heading {
    font-size: 15px;
    line-height: 18px;
    font-family: 'DIN Next';
    font-weight: 700;
    margin-bottom: 16px;
  }

  .second_form_inner .file_group .file_wrap input[type="file"] {
    display: none;
  }

  .second_form_inner .file_group .file_wrap label {
    font-size: 13px;
    line-height: 17px;
    font-family: 'DIN Next';
    font-weight: 400;
    color: #715AEF;
    margin-bottom: 16px;
    display: inline-block;
    cursor: pointer;
  }

  .second_form_inner .file_group .file_wrap label span {
    text-decoration: underline;
  }

  .second_form_inner .file_group .file_wrap .file_btn {
    border: 0;
    background: #EC40A4;
    padding: 13px 20px;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-family: 'DIN Next';
    font-weight: 400;
    text-align: center;
  }

  .second_form_inner .form_group .extra_text {
    font-size: 13px;
    line-height: 17px;
    font-family: 'DIN Next';
    font-weight: 400;
    margin-top: 24px;
  }

  .second_form_inner .form_group .extra_text span {
    text-decoration: underline;
  }

  .second_form_inner .form_group input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    display: none;
  }

  .second_form_inner .form_group .radio_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .second_form_inner .form_group .radio_group .radio_box {
    background: #EC40A4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .second_form_inner .form_group .radio_group .radio_box:hover {
    background: #715AEF;
  }

  .second_form_inner .form_group .radio_group .radio_box label {
    font-size: 15px;
    line-height: 19px;
    font-family: 'DIN Next';
    font-weight: 400;
    color: #fff;
    display: block;
    padding: 30.5px 0;
    width: 100%;
    cursor: pointer;
  }

  .second_form_inner .form_group .person {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .second_form_inner .form_group .person .p_img {
    width: 45px;
    height: 45px;
    margin-right: 14px;
  }

  .second_form_inner .form_group .person .p_text {
    font-size: 18px;
    line-height: 23px;
    font-family: 'DIN Next';
    font-weight: 700;
  }

  .second_form_inner .form_group #question {
    width: 100%;
    height: 76px;
    padding: 19px;
    border-radius: 8px;
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-family: 'DIN Next';
    font-weight: 400;
    color: #000;
  }

  .second_form_inner .form_group #question::placeholder {
    font-size: 14px;
    line-height: 18px;
    font-family: 'DIN Next';
    font-weight: 400;
  }

  .second_form_inner .form_group input[type="submit"] {
    border: 0;
    background: #715AEF;
    padding: 13px 20px;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-family: 'DIN Next';
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-top: 16px;
  }

  .second_form_inner .form_group.step_one~.form_group,
  #sec_form .form_group.hide {
    display: none;
  }

  #sec_form .form_group.show {
    display: block;
  }

  /** second form step css **/
  /** layout change effect **/
  .step_form_inner .step_form_row.layout_change {
    grid-template-columns: min(600px, min(50%, 100%)) 1fr;
    height: 600px;
  }

  .step_form_inner .layout_change .form_part .tab-status,
  .step_form_inner .layout_change .form_part #custom_form_one,
  .step_form_inner .layout_change .form_part .outer_text,
  .step_form_inner .layout_change .video_potion,
  .step_form_inner .layout_change .arrive_text {
    display: none;
  }

  .step_form_inner .layout_change .timer_box,
  .step_form_inner .layout_change .video_part .second_form {
    display: block;
  }

  .step_form_inner .layout_change .form_part .form_inner {
    display: grid;
    place-content: center;
    height: 100%;
  }
  body .right_image_bg .box_inner {
    padding: 15px 24px 20px !important;
    margin-top: 24px !important;
}
li#bg-file-preview {
  width: 100%;
}
li#id_3 {
  margin-top: 0 !important;
}
.lead-page .img-box img.img-fluid {
  height: 240px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.image-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 10px;
}
.lead-page .img-box {
  width: calc(50% - 10px);
}
.star-rating {
  font-size: 12px;
}
  @media only screen and (max-width: 767.98px) {
    .file-types {
      font-size: 0.55em;
    }
    input#terms {
      width: 1rem;
      height: 1rem;
      -webkit-appearance: checkbox;
      appearance: checkbox;
      cursor: pointer;
      transform: scale(.5); /* Prevent unwanted scaling */
    }
    .term-condition,.term-condition-new {
      gap: 5px;
      font-size: 10px;
    }
    .step_form_inner .step-4 .form-line {
    margin-top: 0 !important;
}
    .step_form_inner .form-section.step-3 h2 , .step_form_inner .form-section.step-4 h2 {
      line-height: 18px !important;
    }
    .custom_steps_form.swap_sec_padding {
      padding-top: 15px !important;
    }
    .step_form_inner .step-2 .form-line {
    margin-top: 10px !important;
}
    label.form-label.form-label-auto, label.form-label:not(.form-label-top) {
        margin: 0 0 5px;
    }
    .step_form_inner .form-section.step-2 h2 br {
    display: none;
}
    /* body .step-3 .box_inner {
      padding: 36px 10px 20px !important;
    } */
    li#file-preview {
    margin: 0;
    }
    .step_form_inner .step_form_row .form_part .tab-status {
      margin-bottom: 10px;
    }
    /* body .step-3 .box_inner {
      margin-top: 16px !important;
    } */
    .unique-third .radio_box .form-label-title{
      margin-bottom: 5px !important;
      font-size: 16px !important;
      font-weight: 500 !important;
    }
    .lead-page .img-box img.img-fluid {
      height: 180px;
    }
    ul.form-section.page-section.step-5 {
      height: 100%;
  }
    #cid_3 .jfUpload-wrapper, #cid_13 .jfUpload-wrapper{
      height: 115px;
    }
    .last-step textarea{height: 125px !important;}
    .step_form_inner .form-pagebreak-next{
      white-space: normal;
      line-height: 18px !important;
      padding: 10px 30px !important;
    }
    .radio_box .form-radio-item label{font-size: 14px; padding: 0 20px !important;}
    body .step_form_inner .step_form_row {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      flex-direction: column;
    }
    body .swap_sec_padding .step_form_inner .step_form_row {
      flex-direction: column-reverse;
    }
    .step_form_row.swap_sec {
      flex-direction: column !important;
  }
    /* .swap_sec .video_part{
      margin-bottom: 20px;
    } */
    body .video_part video {
      height: 180px !important;
    }

    .swap_sec .video_part .timer_box {
      min-height: 100px;
      height: 100%;
      padding: 24px 5px !important;
    }
    .swap_sec .video_part .timer_box:before{
      height: 100%;
    }
    .right_image_bg .timer_box>div {
      width: 90%;
    }

    .title-form-step ul li {
      width: 100%;
      font-size: 11px;
      padding-left: 18px;
    }
    .title-form-step ul li:not(:last-child) {
        margin-right: 5px;
    }
    .custom_steps_form {
      padding: 15px 0 28px !important;
    }

    .step_form_inner .step_form_row .form_part .form_inner {
      padding: 15px 20px 20px;
    }

    .form_page_DE .container {
      padding-left: 24px;
      padding-right: 24px;
    }

    .arrive_text {
      margin-top: 24px;
      padding: 20px 45px;
    }

    .step_form_inner .form-section h2 {
      font-size: 20px;
      font-weight: 700;
      line-height: 23px;
      letter-spacing: -0.6px;
      margin-bottom: 10px;
    }
  }

  select.form-dropdown.unique-dropdown {
    min-width: 100%;
    max-width: 100%;
    height: 2.5em;
    padding: 0 1.875em 0 .625em;
    font-size: 1em;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

select.form-dropdown.unique-dropdown {
  appearance: none; /* For most browsers */
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */

  background-image: url('https://cdn.shopify.com/s/files/1/0779/7686/3066/files/download.svg?v=1748522945'); /* Or use a base64 SVG */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust X and Y position */
  padding-right: 30px; /* Create space for the arrow */
}